@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Professor: @ViewData["Professor"]</p>

<address>
    <strong>More informatiton: </strong> <a target="_blank" href="https://google.com">Our website</a>
</address>